<h1>問題</h1>

<div>
  <p>
    <%= form_with(url: "/answer") do |form| %>
      <% @shown_values.each do |num| %>
        <%= num %>
      <% end %>
      <%= form.number_field :answer %>
      <%= form.hidden_field :hidden_value, :value => @hidden_value %>
      <%= form.hidden_field :level, :value => @level %>
      <%= form.submit "答える" %>
    <% end %>
  </p>
</div>

<% if flash[:right] %>
  <div class="alert alert-success"><%= flash[:right] %></div>
<% end %>

<% if flash[:wrong] %>
  <div class="alert alert-danger"><%= flash[:wrong] %></div>
<% end %>

<div>
  <div>
    <p>正答数 / 出題数</p>
    <%= "#{@correct_answer_count} / #{@question_count}" %>
  </div>
</div>

<div>
  <%= button_to "Home", "/", { method: :get} %>
</div>
